h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.tag-button {
  background-color: grey;
  padding: 4px;
  margin: 4px;
  float: left;
}

.active-tag {
  background-color: blue;
}

.alert-item {
  border: 5px solid #CCC;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 17px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}